html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@page {
  size: 8cm 9cm;
}

@media print {
  .none-print {
    display: none !important;
  }
  #header,
  #nav,
  .noprint {
    display: none;
  }
  .ticket {
    display: block !important;
    border-style: none;
    border: none;
  }
  .barra {
    margin: 0px !important;
  }
  .fact {
    padding: 0px !important;
  }
  @page {
    margin: 2mm;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
