html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@page {
  size: 8cm 12cm;
}

@media print {
  .none-print {
    display: none !important;
  }
  #header,
  #nav,
  .noprint {
    display: none;
  }
  .css-print{
    text-transform: capitalize;
  font-size: 12px;
  font-weight: 800;
  }
  .titles-print{
    font-weight: 800;
  }
  .truncate-factura{
    display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2;
   overflow: hidden;
  }
  .ticket {
    font-size: 12px;
    display: block !important;
    margin-top: 0px !important;
    border-style: none;
    border: none;
    font-weight: 800;
    margin-bottom: 0px !important;
  }
  .barra {
    margin: 0px !important;
  }
  .fact {
    padding: 0px !important;
  }
  @page {
    margin: 2mm;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
